/* FIXME: does this belong here? */
h4 {
  color: rgb(var(--color-accent));
  font-size: 24px;
  margin-bottom: 5px;
}

body {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* https://css-tricks.com/line-clampin/ */
/* would be nice to define a class like line-clamp-{n}
and n is the number of clamped lines*/
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
