:root {
  /* =~= Theme Properties =~= */
  --theme-font-family-base: system-ui;
  --theme-font-family-heading: system-ui;
  --theme-font-color-base: 0 0 0;
  --theme-font-color-dark: 255 255 255;
  --theme-rounded-base: 16px;
  --theme-rounded-container: 12px;
  --theme-border-base: 1px;
  /* =~= Theme On-X Colors =~= */
  --on-primary: 255 255 255;
  --on-secondary: 0 0 0;
  --on-tertiary: 255 255 255;
  --on-success: 0 0 0;
  --on-warning: 0 0 0;
  --on-error: 255 255 255;
  --on-surface: 255 255 255;
  /* =~= Theme Colors  =~= */
  /* primary | #727b2d */
  --color-primary-50: 234 235 224; /* ⬅ #eaebe0 */
  --color-primary-100: 227 229 213; /* ⬅ #e3e5d5 */
  --color-primary-200: 220 222 203; /* ⬅ #dcdecb */
  --color-primary-300: 199 202 171; /* ⬅ #c7caab */
  --color-primary-400: 156 163 108; /* ⬅ #9ca36c */
  --color-primary-500: 114 123 45; /* ⬅ #727b2d */
  --color-primary-600: 103 111 41; /* ⬅ #676f29 */
  --color-primary-700: 86 92 34; /* ⬅ #565c22 */
  --color-primary-800: 68 74 27; /* ⬅ #444a1b */
  --color-primary-900: 56 60 22; /* ⬅ #383c16 */
  /* secondary | #5dc6a3 */
  --color-secondary-50: 231 246 241; /* ⬅ #e7f6f1 */
  --color-secondary-100: 223 244 237; /* ⬅ #dff4ed */
  --color-secondary-200: 215 241 232; /* ⬅ #d7f1e8 */
  --color-secondary-300: 190 232 218; /* ⬅ #bee8da */
  --color-secondary-400: 142 215 191; /* ⬅ #8ed7bf */
  --color-secondary-500: 93 198 163; /* ⬅ #5dc6a3 */
  --color-secondary-600: 84 178 147; /* ⬅ #54b293 */
  --color-secondary-700: 70 149 122; /* ⬅ #46957a */
  --color-secondary-800: 56 119 98; /* ⬅ #387762 */
  --color-secondary-900: 46 97 80; /* ⬅ #2e6150 */
  /* tertiary | #5848a3 */
  --color-tertiary-50: 230 228 241; /* ⬅ #e6e4f1 */
  --color-tertiary-100: 222 218 237; /* ⬅ #dedaed */
  --color-tertiary-200: 213 209 232; /* ⬅ #d5d1e8 */
  --color-tertiary-300: 188 182 218; /* ⬅ #bcb6da */
  --color-tertiary-400: 138 127 191; /* ⬅ #8a7fbf */
  --color-tertiary-500: 88 72 163; /* ⬅ #5848a3 */
  --color-tertiary-600: 79 65 147; /* ⬅ #4f4193 */
  --color-tertiary-700: 66 54 122; /* ⬅ #42367a */
  --color-tertiary-800: 53 43 98; /* ⬅ #352b62 */
  --color-tertiary-900: 43 35 80; /* ⬅ #2b2350 */
  /* success | #66ff75 */
  --color-success-50: 232 255 234; /* ⬅ #e8ffea */
  --color-success-100: 224 255 227; /* ⬅ #e0ffe3 */
  --color-success-200: 217 255 221; /* ⬅ #d9ffdd */
  --color-success-300: 194 255 200; /* ⬅ #c2ffc8 */
  --color-success-400: 148 255 158; /* ⬅ #94ff9e */
  --color-success-500: 102 255 117; /* ⬅ #66ff75 */
  --color-success-600: 92 230 105; /* ⬅ #5ce669 */
  --color-success-700: 77 191 88; /* ⬅ #4dbf58 */
  --color-success-800: 61 153 70; /* ⬅ #3d9946 */
  --color-success-900: 50 125 57; /* ⬅ #327d39 */
  /* warning | #F0C11F */
  --color-warning-50: 253 246 221; /* ⬅ #fdf6dd */
  --color-warning-100: 252 243 210; /* ⬅ #fcf3d2 */
  --color-warning-200: 251 240 199; /* ⬅ #fbf0c7 */
  --color-warning-300: 249 230 165; /* ⬅ #f9e6a5 */
  --color-warning-400: 245 212 98; /* ⬅ #f5d462 */
  --color-warning-500: 240 193 31; /* ⬅ #F0C11F */
  --color-warning-600: 216 174 28; /* ⬅ #d8ae1c */
  --color-warning-700: 180 145 23; /* ⬅ #b49117 */
  --color-warning-800: 144 116 19; /* ⬅ #907413 */
  --color-warning-900: 118 95 15; /* ⬅ #765f0f */
  /* error | #D93327 */
  --color-error-50: 249 224 223; /* ⬅ #f9e0df */
  --color-error-100: 247 214 212; /* ⬅ #f7d6d4 */
  --color-error-200: 246 204 201; /* ⬅ #f6ccc9 */
  --color-error-300: 240 173 169; /* ⬅ #f0ada9 */
  --color-error-400: 228 112 104; /* ⬅ #e47068 */
  --color-error-500: 217 51 39; /* ⬅ #D93327 */
  --color-error-600: 195 46 35; /* ⬅ #c32e23 */
  --color-error-700: 163 38 29; /* ⬅ #a3261d */
  --color-error-800: 130 31 23; /* ⬅ #821f17 */
  --color-error-900: 106 25 19; /* ⬅ #6a1913 */
  /* surface | #747a52 */
  --color-surface-50: 234 235 229; /* ⬅ #eaebe5 */
  --color-surface-100: 227 228 220; /* ⬅ #e3e4dc */
  --color-surface-200: 220 222 212; /* ⬅ #dcded4 */
  --color-surface-300: 199 202 186; /* ⬅ #c7caba */
  --color-surface-400: 158 162 134; /* ⬅ #9ea286 */
  --color-surface-500: 116 122 82; /* ⬅ #747a52 */
  --color-surface-600: 104 110 74; /* ⬅ #686e4a */
  --color-surface-700: 87 92 62; /* ⬅ #575c3e */
  --color-surface-800: 70 73 49; /* ⬅ #464931 */
  --color-surface-900: 57 60 40; /* ⬅ #393c28 */
}
